form {
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.article-item {
    width: calc(30% - 20px);
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.article-title {
    font-weight: bold;
}

.article-author {
    color: #666;
}

.article-description {
    font-style: italic;
}

@media (min-width: 992px) {
    .article-item {
        width: calc(30% - 20px);
        float: left;
    }
}


@media (min-width: 576px) and (max-width: 991px) {
    .article-item {
        width: calc(49% - 20px);
        float: left;
    }
}

@media (max-width: 575px) {
    .article-item {
        width: 100%;
    }
}
